doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
	body
		div.container
			map(name='Map1')
				area(shape='rect', coords='401,296,654,332', href='/', alt='Volver al inicio')
			img(src='/images/404/404.png', usemap='#Map1', border='0')  