extends layout

block content
  script(src='/javascripts/valida.js')
  form(method='post', onclick='if(!valida()){return false;}').form-horizontal
    fieldset
      legend Productos
      div.control-group
        label(for='nombre', class='control-label') Nombre
        div.controls
          input(type='text', name='nombre', placeholder='Nombre de Producto', class='input-large', id='nombre')
          div#error_nombre
      div.control-group
        label(for='descripcion', class='control-label') Descripción
        div.controls
          textarea(name='descripcion', placeholder='Descripción de Producto', id='descripcion')
          div#error_descripcion
      div.control-group
        label(for='precio', class='control-label') Precio
        div.controls
          input(type='text', name='precio', placeholder='Precio de Producto', class='input-large', id='precio')
          div#error_precio
      div.control-group
        div.controls
          button(class='btn btn-primary', name='Guardar') Guardar Producto
